<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="app.py" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="RewriteToFlask" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="app.py/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\WebApps\volley_stats\Volley" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration>