<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="app.py" />
            </files>
        </defaultDocument>
	<rewrite>
            <rules>
                <!-- Regla para la ruta raiz '/' -->
                <rule name="Root Redirect" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="app.py/" />
                </rule>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="CGI Buscador Omni" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\Python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\WebApps\buscador_omni" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration>
